@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0; /*As margins CSS são usadas para criar um espaço ao redor dos elementos, fora de quaisquer bordas definidas */
    padding: 0;  /* A propiedade padding define uma distancia entre os conteudos de um elemento e suas bordas.nesse caso estou dizendo que os meus conteudo não terão distancia logo e 0*/
    box-sizing: border-box;/* O box-sizing e uma propiedade na qual não muda os valores ja definido. Por exemplo se eu tenho uma div com valore 40px por 40px , se eu adiciono um "padding:10px 20px" a nossa div teria 60px de largura , porque?  como atribuimos 10pxs para o padding-left e right, esses valores são somados a largura ja estabelecida */

    font-family: 'Inter', sans-serif; /*Comando que define a fonte que sera usada em nosso site como esta definida em em todos os elementos do nosso site atraves do '*' logo por definição sera o font-family a ser usado*/
}

/* */
body{
    width: 100%; /*width e oque define a largura de um elemento  */
    height: 100vh;/*Define a altura de um elemente especifico */
    display: flex;  /*Todo elemento do html tem o seu display. Alguns em line e outros em blocos. Nesse caso o display flex e utilizado para organizar os elementos em forma responsiva */
    justify-content: center; /* Indica como os elementos filhos serão alinhados horizontalmente no espaço*/
    align-items: center; /* Alinha os itens todos no centro*/
    background: #0c0ce94d; /*defini a cor de fundo do elemento */
}

.container{
   width: 80%;  /*width e oque define a largura de um elemento  */
   height: 80vh; /*Define a altura de um elemente especifico */
   display: flex; /*Todo elemento do html tem o seu display. Alguns em line e outros em blocos. Nesse caso o display flex e utilizado para organizar os elementos em forma responsiva */  
   box-shadow: 5px 5px 10px 5px rgba(0,0,0, .212);

}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbfda7d7;
    padding: 1rem;
}
 
.form-image img{
    width: 31rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color:#6c63ff;
    padding: 0.4rem 1rem; 
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #6b63fff1;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.0rem;
}

.input-box input{
     margin: 0.6rem 0;
     padding: 0.8rem 1.2rem;
     border: none;
     border-radius: 10px;
     box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.61rem;
    padding: 0 0.5rem;
}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
    margin-right: 0.35rem;

}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button{
    width: 100%;
   margin-top: 2.5rem;
   border: none;
   background-color: #6c63ff;
   border-radius: 5px;
   padding: 0.63rem;
   cursor: pointer;
}

.continue-button button:hover{
    background-color:#6b63fff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image{
        display: none;
    }

    .container{
        width: 50%;
    }

    .form {
      width: 100%;
    }
    
}

@media screen and (max-width:1064px) {

    .container{
        width: 90%;
        height: auto;
    }

    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender-input{
        margin-top: 2rem;
    }
    .gender-group{
        flex-direction: column;
    }

    .gender-input{
        margin-top: 0.5rem;
    }
}