@charset "UTF-8";


body{
    margin:0;
}

h1{
    color: aliceblue;
}
img{
    flex-direction: center;
    height: auto;
}



main> article > ul{
 margin: 14px;
    
}

ol{
    margin: 14px;
}


*{
    margin: 0px;
    padding: 0px;
}
body , html{
    background-color: lightgrey;
}

header{
    background-color: rgb(133, 133, 133);
}
header > h1{
    padding: 10px;
    text-align: center;
}



menu > ul > li > a{
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(87, 87, 87);
  color: white;
  border-top: 2px solid gray;
}
menu > ul > li a:hover{
    background-color: gray;

}
main {
    width: 90vw;
    margin: auto;
      background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}
article >p{

    
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}


ul{
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}

nav{
    background-color: black;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

ul , li,  p{
    color: rgb(246, 240, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.li{
    size: 2;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

main > article > p {
    color: black;
}

nav, ul{
    display: flex;
    flex-direction: row;
}

li{
    padding:0 20px;
}
h1{
    margin: 0;
    padding: 10px;
    text-align: center;
}

button{
    background-color: transparent;
    border: none;
    color: aliceblue;
     font-size: 36px;
     position: absolute;
     right: 10px;
     top: 10px;
     display: none;
}

li:hover,
h1:hover,
button:hover{
   
    cursor: pointer;
    opacity: 0.8;
    background-color: antiquewhite;
    border-radius: 30px;
}

button:focus ~ul{
    height: 300px;
}

@media (max-width: 912px){
    nav, ul{
        flex-direction: column;
    }
    ul{
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav{
        padding-top:0px;
    }

    h1{
        margin: 10px;
    }
    button{
        display: flex;
    }

    li, ul{
        width: 100px;
        
    }
}
