p{
  text-align: center; 
  color: rgb(21, 114, 78);
  font-size: 20px; 
}
p.centro{
    text-align: center;
    color: green;
    font-size: 30px;
}

h1{color: rgb(21, 171, 121);}

ul{
    list-style-position: inside;
    list-style-type:circle;
    background: #cccccc;
    padding: 10px;
}